/*
Every page uses this css for the menubar.
*/

.menu-bg {
  height: 4vw;
  width: 100vw;
  background: transparent;
  z-index: -1;
  top: 0;
  position: static;
  margin-bottom: 4vw;
}

.menubar {
  height: 4vw;
  width: 100%;
  overflow: hidden;
  background-color: var(--menubar-color);
  
  backdrop-filter: var(--fg-backdrop-filter);
  position: fixed;
  top: 0;
  z-index: 999;
}

.menubar a {
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: left; /* Align the boxes on the menu bar to the left side of the screen. Padding doesn't work if this doesn't exist for some reason.*/
  text-align: center;
  text-decoration: none; /* This gets rid of the underline for the links. */
  font-size: 1vw;
  color: var(--text-color);
}

/* Only for the search and settings buttons. */
a.right {
  float: right;
  padding: 0vw 0vw;
  width: 4vw;
  transition: transform 1s;
  font-size: 1.2vw;
}

.menubar a:hover {
  background-color: var(--hover-menubar-color);
  color: var(--hover-text-color);
  cursor: pointer;
}

.searchbar {
  transform: translate(50vw, 0vw);
  margin-top: 1.15vw;
  height: 1.6vw;
  width: 21vw;
  background: white;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  font-size: 1vw;
  font-family: var(--text-font), sans-serif;
}

/* Remove the weird focus outline. */
.searchbar:focus {
  outline: none;
}