/*
::::    ::::  :::::::::: ::::    ::: :::    ::: :::::::::      :::     :::::::::  
+:+:+: :+:+:+ :+:        :+:+:   :+: :+:    :+: :+:    :+:   :+: :+:   :+:    :+: 
+:+ +:+:+ +:+ +:+        :+:+:+  +:+ +:+    +:+ +:+    +:+  +:+   +:+  +:+    +:+ 
+#+  +:+  +#+ +#++:++#   +#+ +:+ +#+ +#+    +:+ +#++:++#+  +#++:++#++: +#++:++#:  
+#+       +#+ +#+        +#+  +#+#+# +#+    +#+ +#+    +#+ +#+     +#+ +#+    +#+ 
#+#       #+# #+#        #+#   #+#+# #+#    #+# #+#    #+# #+#     #+# #+#    #+# 
###       ### ########## ###    ####  ########  #########  ###     ### ###    ### 

Every page uses this css for the menubar.
*/

.menu-bg {
  height: 4vw;
  width: 100vw;
  background: transparent;
  z-index: -1;
  top: 0;
  position: static;
  margin-bottom: 4vw;
}

.menubar {
  height: 4vw;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  z-index: 999;
}

.menubar a {
  height: 4vw;
  padding: 1.4vw 1vw; /* Top/bottom and right/left. */
  float: left; /* Align the boxes on the menu bar to the left side of the screen. Padding doesn't work if this doesn't exist for some reason.*/
  text-align: center;
  text-decoration: none; /* This gets rid of the underline for the links. */
  font-size: 1vw;
  color: #f2f2f2;
}

/* Only for the search bar, which is better than the other things. */
.menubar a[id="search"] {
  float: right;
  padding: 1.5vw 0vw;
  width: 4vw;
  transition: transform 1s;
}

.menubar a:hover {
  background-color: #696969;
  color: #000000;
}

.searchbar {
  transform: translate(50vw, 0vw);
  margin-top: 1.15vw;
  height: 1.6vw;
  width: 21vw;
  background: white;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  font-size: 1vw;
}

/* Remove the weird focus outline. */
.searchbar:focus {
  outline: none;
}